## Resultados de Prova

Um professor gerou uma lista com os alunos e as notas das provas (0 a 1000) desses alunos.

Ele deseja saber informações gerais sobre a prova e pede que você calcule: maior nota, menor nota, média, número de alunos com nota acima ou igual a 700, número de alunos com nota abaixo de 700. O programa para ao ler uma linha com um traço (-).
Veja o exemplo abaixo para entender como deve ficar a saída do seu programa. Imprima sempre a média truncada.

Input 
```
pedro 1000
arthur 550
ana 920
jorge 700
-
```
Output
```
maior: 1000
menor: 550
media: 792
acima: 3
abaixo: 1
```
